.sCaptcha {
  max-width: 500px;
  width: 100%;
  min-width: 400px;

  display: flex;
  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sCaptcha .sCaptcha__text {
  width: 100%;
  font-weight: 500;
  margin-bottom: 5px;
}

.sCaptcha .sCaptcha__button {
  width: 100%;
  background: #ddd;
  font-weight: bold;

  border-radius: 2px;
  padding: 4px 10px 4px 10px; /* TODO: add this values to :root */

  cursor: pointer;

  /* TODO: change background in dark mode */
}

.sCaptcha .sCaptcha__icon {
  width: 50px;
  margin-right: 15px;
}

.sCaptcha .sCaptcha__loading {
  width: 100%;
  position: relative;

  background: #ddd;
  border-radius: 2px;

  height: 5px;
}

.sCaptcha .sCaptcha__progress {
  height: 100%;
  width: 100%; /* default value */

  background: #000;
}
